.div-review-wrapper {
  .div-review {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 20px;
    cursor: pointer;
    .div-review-left {
      display: flex;
      flex-direction: column;
      width: 280px;
      text-align: left;
      max-width: 280px;
      padding-left: 10px;
      .div-review-left-top {
        display: flex;
        width: 100%;
        .div-reviewer {
          font-size: 12px;
          line-height: 10px;
        }
        .div-created {
          margin-left: 10px;
          color: #7a7a7a;
          font-size: 12px;
        }
      }
      .div-review-satisfaction {
        overflow: hidden;
        font-weight: 500;
        text-overflow: ellipsis;
      }
      .div-review-content {
        color: #727272;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .img-review {
      width: 100%;
      height: 100%;
      max-width: 70px;
      max-height: 70px;
    }
  }
}
.divider {
  margin-top: 10px;
  width: 100%;
  max-width: 375px;
  border-bottom: solid 1px #ccc;
}
